# Resolução do exercício proposto

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
x = np.asarray([1.906,2.103,1.522,2.618,1.427,2.225,1.697,3.154,1.985,1.996])

In [3]:
dfa = pd.DataFrame({'Village':['Aranza','Corupo','San Lorenzo','Cheranatzicurin','Nahuatzen','Pomacuaran','Sevina','Arantepacua','Cocucho','Charapan','Comachuen','Pichataro','Quinceo','Nurio','Turicuaro','Urapicho','Capacuaro']})

In [4]:
dfa['Population Density'] = [4.13,4.53,4.69,4.76,4.77,4.96,4.97,5.00,5.04,5.10,5.25,5.36,5.94,6.06,6.19,6.30,7.73]

In [5]:
dfa

            Village  Population Density
0            Aranza                4.13
1            Corupo                4.53
2       San Lorenzo                4.69
3   Cheranatzicurin                4.76
4         Nahuatzen                4.77
5        Pomacuaran                4.96
6            Sevina                4.97
7       Arantepacua                5.00
8           Cocucho                5.04
9          Charapan                5.10
10        Comachuen                5.25
11        Pichataro                5.36
12          Quinceo                5.94
13            Nurio                6.06
14        Turicuaro                6.19
15         Urapicho                6.30
16        Capacuaro                7.73

In [6]:
df = pd.DataFrame({'x':x})

In [7]:
df

       x
0  1.906
1  2.103
2  1.522
3  2.618
4  1.427
5  2.225
6  1.697
7  3.154
8  1.985
9  1.996

Vamos ordenar x em ordem crescente:

In [8]:
df = df.sort_values(['x'])

In [9]:
df.head()

       x
4  1.427
2  1.522
6  1.697
0  1.906
8  1.985

In [10]:
df.describe()

               x
count  10.000000
mean    2.063300
std     0.515591
min     1.427000
25%     1.749250
50%     1.990500
75%     2.194500
max     3.154000

In [11]:
mean = np.mean(df['x'])
mean

2.0633

Calculando SS = (xi - x)ˆ2

In [12]:
SS = (df['x']-mean)**2
SS

4    0.404878
2    0.293006
6    0.134176
0    0.024743
8    0.006131
9    0.004529
1    0.001576
5    0.026147
3    0.307692
7    1.189626
Name: x, dtype: float64

In [13]:
df['SS'] = SS

In [14]:
df

       x        SS
4  1.427  0.404878
2  1.522  0.293006
6  1.697  0.134176
0  1.906  0.024743
8  1.985  0.006131
9  1.996  0.004529
1  2.103  0.001576
5  2.225  0.026147
3  2.618  0.307692
7  3.154  1.189626

Reordenar os indices novamente:

In [15]:
df.reset_index(drop=True)

       x        SS
0  1.427  0.404878
1  1.522  0.293006
2  1.697  0.134176
3  1.906  0.024743
4  1.985  0.006131
5  1.996  0.004529
6  2.103  0.001576
7  2.225  0.026147
8  2.618  0.307692
9  3.154  1.189626

Cálculo de b:

Como n = par, o cálculo de b é dado por:

$$
b = \sum_{i=1}^{n/2} a_{n-i+1} (x_{n-i+1} - x_i)
$$

onde a é tabelado.

In [16]:
df2 = pd.DataFrame({'i':[1,2,3,4,5]})

In [17]:
n = len(df['x'])
df2['n-i+1']=n - df2['i']+1

In [18]:
df2

   i  n-i+1
0  1     10
1  2      9
2  3      8
3  4      7
4  5      6

Considerando nível de significância igual a 0.05 ou nível de confiança igual a 0.95 temos os seguintes valores de a:

In [19]:
a = [0.5739,0.3291,0.2141,0.1224,0.0399]

In [20]:
df2['a'] = a

In [21]:
df2

   i  n-i+1       a
0  1     10  0.5739
1  2      9  0.3291
2  3      8  0.2141
3  4      7  0.1224
4  5      6  0.0399

In [22]:
df2['xi'] = df['x'][0:5].values
df['x'][0:5]

4    1.427
2    1.522
6    1.697
0    1.906
8    1.985
Name: x, dtype: float64

Agora, vamos ordenar df no sentido decrescente para pegar os 5 primeiros elementos

In [23]:
df = df.sort_values(['x'],ascending=False)
df

       x        SS
7  3.154  1.189626
3  2.618  0.307692
5  2.225  0.026147
1  2.103  0.001576
9  1.996  0.004529
8  1.985  0.006131
0  1.906  0.024743
6  1.697  0.134176
2  1.522  0.293006
4  1.427  0.404878

In [24]:
df2['xn-i+1'] = df['x'][0:5].values

In [25]:
df2

   i  n-i+1       a     xi  xn-i+1
0  1     10  0.5739  1.427   3.154
1  2      9  0.3291  1.522   2.618
2  3      8  0.2141  1.697   2.225
3  4      7  0.1224  1.906   2.103
4  5      6  0.0399  1.985   1.996

In [26]:
df2['bi'] = df2['a']*(df2['xn-i+1']-df2['xi'])

In [27]:
df2

   i  n-i+1       a     xi  xn-i+1        bi
0  1     10  0.5739  1.427   3.154  0.991125
1  2      9  0.3291  1.522   2.618  0.360694
2  3      8  0.2141  1.697   2.225  0.113045
3  4      7  0.1224  1.906   2.103  0.024113
4  5      6  0.0399  1.985   1.996  0.000439

In [28]:
b = np.sum(df2['bi'])
b

1.4894153999999997

Calcular W:

In [29]:
W = b**2/(np.sum(df['SS']))
W

0.9272118838823138

p-valor do teste Shapiro-Wilk = W_tab

In [30]:
x0 = 0.1
x1 = 0.5
y0 = 0.869
y1 = 0.938
y = W

Interpolação linear

In [31]:
x = ((y-y0)*(x1-x0)+y1*x0-y0*x0)/(y1-y0)
x

0.4374601964192105

In [32]:
Wtab = x

Vemos que o W calculado é maior do que o W tabelado, logo não rejeitamos a hipótese H0 que diz que os dados seguem a distribuição normal

## Vamos refazer essa resolução, mas agora utilizando o módulo stats da biblioteca Scipy:

In [33]:
x

0.4374601964192105

In [34]:
x = np.asarray([1.906,2.103,1.522,2.618,1.427,2.225,1.697,3.154,1.985,1.996])

In [35]:
stats.shapiro(x)

(0.9268980622291565, 0.4180838465690613)

O primeiro retorno de shapiro é o próprio W calculado e o segundo é o p-valor.

In [36]:
Wcalc,pval = stats.shapiro(x)

In [37]:
pval

0.4180838465690613